/* .about-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
} */

.company-card {
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1400px;
    height: 100%;
    display: flex;
    transition: all 0.3s ease;
    margin-top: 20px;
}

/* .company-card:hover {
    transform: translateY(-5px);
} */

.logo-column {
    flex: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-logo {
    max-width: 1000px;
    width: 100%;
}

.description-column {
    flex: 2;
    padding: 40px;
}

.description-column h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 30px;
    font-weight: bold;
}

.description-column p {
    font-size: 18px;
    color: #5e5e5e;
    line-height: 1.8;
    margin-bottom: 20px;
    text-align: justify;
}
.back-button {
    display: inline-block;
    padding: 5px 8px;
    background-color: white; 
    border: 3px solid #6A994E; 
    border-radius: 5px;
    font-size: 17px;
    color: #6A994E; 
    
}

.back-button:hover {
    background-color: #567d3e; 
    border-color: #567d3e; 
    color: white; 
}

.contact-link {
    color: #f07e0d;
    font-weight: 500; 
    margin-top: 20px; 
  }
  
  .contact-link:hover {
    text-decoration:underline;
    
  }