/* .contact-us-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    min-height: 100vh;
    background-color: #e7e7e7;
    padding: 20px;
}

.contact-info {
    text-align: left;
    margin-bottom: 40px;
}

.contact-info h2 {
    font-size: 32px;
    color: #000000;
    margin-bottom: 20px;
    font-weight: bold;
}

.contact-info p {
    font-size: 18px;
    color: #000000;
    line-height: 1.8;
    margin-bottom: 10px;
}

.map {
    width: 100%;
    height: 400px; /* Adjust height as needed */
    /* margin-bottom: 40px;
} */

/* Your existing contact page CSS */
/* .contact-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
} */

.company-card {
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    width: 100%;
    min-width: 1400px;
    height: 100%;
    display: flex;
    transition: all 0.3s ease;
    margin-top: 20px;
}

.logo-column {
    flex: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-logo {
    max-width: 1000px;
    width: 100%;
}

.description-column {
    flex: 2;
    padding: 40px;
    padding-left: 270px;
}



.contact-info {
    /* text-align: left; */
    margin-bottom: 40px;
}

.contact-info h2 {
    font-size: 32px;
    color: #000000;
    margin-bottom: 20px;
    font-weight: bold;
}

.contact-info p {
    font-size: 18px;
    color: #000000;
    line-height: 1.8;
    margin-bottom: 10px;
}
.contact-info a:hover {
    color: #0056b3; /* Highlight color on hover */
    text-decoration: none; /* Remove underline on hover */
}

.map {
    width: 70%;
    height: 400px; /* Adjust height as needed */
    margin-bottom: 40px;
}

