.company-card {
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    width: 100%;
    min-width: 1400px;
    height: 100%;
    display: flex;
    transition: all 0.3s ease;
    margin-top: 20px;
}

.logo-column {
    flex: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-logo {
    max-width: 1000px;
    width: 100%;
}

.description-column {
    flex: 2;
    padding: 40px;
    padding-left: 270px;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 18px;
    color: #000000;
    margin-bottom: 10px;
}

.contact-info input,
.contact-info textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px
}

.contact-info button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* .contact-info button:hover {
    background-color: #004080;
} */

.submit-button {
    display: inline-block;
    padding: 5px 8px;
    background-color: white; 
    border: 3px solid #6A994E; 
    border-radius: 5px;
    font-size: 17px;
    color: #6A994E; 
    
}

.submit-button:hover {
    background-color: #567d3e; 
    border-color: #567d3e; 
    color: white; 
}
.company-info {
    padding-top: 32px;
}
.company-info a:hover {
    color: #0056b3; /* Highlight color on hover */
    text-decoration: none; /* Remove underline on hover */
}

.FormSubmittedMessage {
    background-color: #6A994E; /* Green background color */
    color: #000000; /* White text color */
    padding: 10px 20px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners */
    margin-top: 20px; /* Spacing from the top */
}

.back-button {
    display: inline-block;
    padding: 5px 8px;
    background-color: white; 
    border: 3px solid #6A994E; 
    border-radius: 5px;
    font-size: 17px;
    color: #6A994E; 
    
}

.back-button:hover {
    background-color: #567d3e; 
    border-color: #567d3e; 
    color: white; 
}

  